<!DOCTYPE html>
<html>
  <head>
    <title>Tailwind 2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-gray-600 bg-blue-50">
    <%= yield %>
  </body>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
